/* Write your CSS here */

.todo-item-container {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: auto;
}

.checkbox-container {
  width: 26px;
  height: 26px;
}

.checkbox {
  width: 100%;
  height: 100%;
  border: 1px solid #ff8542;
}

.checkbox::before {
  background-color: #ff8542;
}

.title {
  color: #000000;
  font-family: 'Roboto';
  flex-grow: 1;
  padding-left: 15px;
}

.title-input {
  color: #000000;
  font-family: 'Roboto';
  flex-grow: 1;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  margin: 1em 0;
}

.checked {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  background-color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 18px;
  outline: 2px solid transparent;
}

.delete {
  color: #ff0b37;
  border: 2px solid #ff0b37;
}

.edit {
  color: #6c63ff;
  border: 2px solid #6c63ff;
}

.save {
  color: green;
  border: 2px solid green;
}

.save:hover {
  background-color: #008000;
  color: #fff;
  outline: 2px solid #00800066;
}

.edit:hover {
  background-color: #6c63ff;
  color: #fff;
  outline: 2px solid #6c63ff66;
}

.delete:hover {
  background-color: #ff0b37;
  color: #fff;
  outline: 2px solid #ff0b3766;
}
