/* Write your CSS here */

.todo-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title {
  color: #000000;
  font-family: 'Roboto';
  margin-right: 25px;
}

.delete-button {
  background-color: #ffffff;
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 10px;
  width: 80px;
  height: 35px;
}
