/* Write your CSS here */

.simple-todos-bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.simple-todos-container {
  background-color: #ffffff;
  width: 75%;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.simple-todo-heading {
  color: #ff8542;
  font-family: 'Roboto';
  text-align: center;
}

.simple-todo-list-container {
  width: 80%;
}
